@circleeconomy:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken="YzPfGQ63mVvfKJmLC_tK"
//gitlab.com/api/v4/projects/28186488/packages/npm/:_authToken="YzPfGQ63mVvfKJmLC_tK"
